.post_wrapper{
    display: grid;
    grid-template-rows: 49px max-content;
    width: 498px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #F3F3F3;
    padding: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post_header{
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr min-content;
    font-weight: 700;
    align-content: center;
    font-size: 16px;
    align-content: flex-start;
}

.post_title{
    color: #474952;
    font-size: 16px;
}

.post_body{
    color: #91949D;
    font-size: 14px;
}

.regular_button{
    width: 60px;
    height: 28px;
    border: none;
    font-size: 14px;
    background-color: unset;
    color: #307DFB;
    border-radius: 4px;
    border: 1px solid #307DFB;
    cursor: pointer;
    padding: unset;
}

.regular_button:hover{
    background-color: #307DFB;
    color: white;
    transition: 0.3s;
}

.regular_button:active{
    background-color: #0e5fe0; 
    transition: 0.3s;
}

.button_remove{
    color: #ff0000;
    border: none;
}

.button_remove:hover{
    background-color: #ffe1e1;
    color: #ff0000;
    transition: 0.3s;
}

.button_remove:active{
    background-color: #ffeeee;
    color: #ff3c3c;
    transition: 0.3s;
}

.post_buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.input{
    outline: none;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
}

.input:focus{
    border: 1px solid #307DFB;
}