#root{
    display: grid;
    justify-content: center;
    height: 100vh;
    align-content: center;
    position: relative;
}

.main_wrapper{
    width: 250px;
}

.button{
    border: none;
    background-color: #0066ff;
    font-weight: 600;
    color: white;
    width: inherit;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
}

.button:hover{
    background-color: #0058dd;
}

.button:active{
    background-color: #0048b4;
    color: rgb(190, 205, 255);
}

.transparentbg{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

.modal{
    display: grid;
    grid-template-rows: min-content min-content;
    background-color: white;
    border-radius: 12px;
    gap: 8px;
    padding: 16px 64px 64px 64px;
    justify-items: center;
    height: fit-content;
}

.modal_field{
    display: grid;
    grid-template-rows: auto;
    gap: 8px;
    width: 250px;
}

input{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    height: 44px;
    border-radius: 6px;
    border: 1px solid lightgray;
    padding: 0px 0px 0px 12px;
}
.input_wrapper{
    position: relative;
}

.input:focus{
    outline: 1px solid #0066ff;
    border: 1px solid white;
}

input:hover{
    border: 1px solid rgb(172, 172, 172);
}

.error_message{
    position: absolute;
    top: 12px;
    left: 255px;
    width: max-content;
    color: white;
    font-size: 12px;
    padding: 4px 8px 4px 8px;
    background-color: rgb(255, 0, 64);
    border-radius: 4px;
}

.error_message::before{
    content: '';
    position: absolute;
    top: 7px;
    left: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 4px 0;;
    border-color: transparent  rgb(255, 0, 64) transparent transparent;
}

.show_button{
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: #e4efff;
    color: #0066ff;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}